extends layout
block head
  title=title + " - Fozg.net Blog"
  meta(property="description", content=description)
  meta(property="fb:app_id", content="634266176616209")
  meta(property="og:site_name", content="Blog on Fozg.net")
  meta(property="og:type", content="article")
  meta(property="og:url", content="https://fozg.net/blog/" + slug)
  meta(property="og:title", content=title)
  meta(property="og:description", content=description)
  meta(property="og:updated_time", content=created)
  meta(property="og:image", content=cover ? cover : "https://fozg.net/blog/public/fblog.png")

block content
  .container()
    .row
      .blogWrap#serverContent(style={display: 'none'})
        h1.content-title= title
        div.loadingAuthor(style={height: '28px'})
        div!= content
      .sidebar  


  